{
  "extends": [
    "react-app",
    "prettier"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "plugins": [
    "react-hooks"
  ]
}
